<div class="overlay" id="popup-container">
    <div class="thanks-popup">
        <div class="title">Спасибо за вашу заявку</div>
        <div class="body">Наш менеджер свяжется <br/>с вами в ближайшее время</div>
    </div>
</div>