@font-face {
    font-family: 'EurofontExtendedCNormal';
    src: url('/fonts/eur53__c_3-webfont.eot');
    src: url('/fonts/eur53__c_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/eur53__c_3-webfont.woff2') format('woff2'),
         url('/fonts/eur53__c_3-webfont.woff') format('woff'),
         url('/fonts/eur53__c_3-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'EurofontMediumCMediumC';
    src: url('/fonts/eur65__c-webfont.eot');
    src: url('/fonts/eur65__c-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/eur65__c-webfont.woff2') format('woff2'),
         url('/fonts/eur65__c-webfont.woff') format('woff'),
         url('/fonts/eur65__c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'EurofontMediumCItalic';
    src: url('/fonts/eur66__c-webfont.eot');
    src: url('/fonts/eur66__c-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/eur66__c-webfont.woff2') format('woff2'),
         url('/fonts/eur66__c-webfont.woff') format('woff'),
         url('/fonts/eur66__c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'EurofontExtendedCBold';
    src: url('/fonts/eur73__c-webfont.eot');
    src: url('/fonts/eur73__c-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/eur73__c-webfont.woff2') format('woff2'),
         url('/fonts/eur73__c-webfont.woff') format('woff'),
         url('/fonts/eur73__c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'EurofontExtendedCBoldItalic';
    src: url('eur74__c-webfont.eot');
    src: url('eur74__c-webfont.eot?#iefix') format('embedded-opentype'),
         url('eur74__c-webfont.woff2') format('woff2'),
         url('eur74__c-webfont.woff') format('woff'),
         url('eur74__c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}